service vendor.audiocontrol-hal-1.0 /vendor/bin/hw/android.hardware.automotive.audiocontrol@1.0-service.imx
    class hal
    user audioserver
    group system
    interface android.hardware.automotive.audiocontrol@1.0::IAudioControl default
